<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    


    <title>MyPassword.com</title>
    <link href="{{ url_for('static', filename='index_more.css')}}" rel = "stylesheet" type = "text/css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MyPassword.com</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Services
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Cracking password</a></li>
            <li><a class="dropdown-item" href="http://127.0.0.1:5000/strong_pwd">Password Strength</a></li>
            <li><a class="dropdown-item" href="http://127.0.0.1:5000/recommend_password">recommending password</a></li>
            <li><a class="dropdown-item" href="http://127.0.0.1:5000//index/Descover_more/Hashing_All/AlogrithMSuolkij">Hash your pwd</a></li>
             <li><a class="dropdown-item" href="#">Know our algorithms</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div id = "align45">
  <div id = "pic34">
    <img src="https://image.freepik.com/free-vector/secure-login-concept-illustration_114360-4320.jpg"  alt="...">
  </div>
  <div id = "heading45">
    <h1 class="display-4">Password Security</h1>
  <h6 id = 'small90'>Password Security is a great concern for protecting your data.<br>So,set your password like a professional.So that no one can even think <br>of touching your confidential data.</h6>
  <div id = 'but67'>
  <a href="http://127.0.0.1:5000/learn_more">
    <button type="button" class="btn btn-success">Learn more</button>
  </a>
   
  </div>
  </div>
</div>

<div id = "te55">
  <h1 class="display-6">What we do</h1>
</div>

<div id = "img44">
  <img src="https://image.freepik.com/free-vector/forgot-password-concept-illustration_114360-1123.jpg" class="img-fluid" alt="...">
</div>
<div id = "head454">
  <h5>Recommend Password</h5>
  <p class="text-xl-start">System recommends password best suited for you.<br>System generates password and recommends you the best and strong password.</p>
  <a href="http://127.0.0.1:5000/recommend_password">
    <button type="button" class="btn btn-primary" >Let's get Started</button>
  </a>
</div>



<div id = "img444">
  <img src="https://image.freepik.com/free-vector/my-password-concept-illustration_114360-3864.jpg" class="img-fluid" alt="...">
</div>
<div id = "head4544">
  <h5>Check Password</h5>
  <p class="text-xl-start">System checks the strength of your password based on<br>diffrent parameters.</p>
  <a href="http://127.0.0.1:5000/strong_pwd">
  <button type="button" class="btn btn-danger">Let's get Started</button>
  </a>
</div>


<div id = "img4444">
  <img src="https://image.freepik.com/free-vector/forgot-password-concept-illustration_114360-1010.jpg" class="img-fluid" alt="...">
</div>
<div id = "head45444">
  <h5>Recovery of Password</h5>
  <p class="text-xl-start">System helps you to recover your password.it cracks the password <br>for you and brings a very optimal solution for you.</p>
  <button type="button" class="btn btn-danger">Let's get Started</button>
</div>
<div id = "but433">
<a href="http://127.0.0.1:5000/Load_more">
<button id = "but43" type="button" class="btn btn-success">Discover more...</button>
</a>
</div>


 <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">Password.com provides it's best service all around the world.there are 
            different concepts/METHODS on which this company works.the author contributed on many fields of 
            the site to develop it. Today all around the world lakhs of lakhs of scams are conducted of stoling
             the private data from the users which leads to a massive loss to users financially as well as emotionally.
              So ,our company MAXstanding.co took this initiative for preventing these scams.There are many factors by
               which scammers get advantage of stealing the data,and weak password is one of them.So ,trust on password.com 
               and make a powerful password and maintain it at different intervals.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Services</h6>
            <ul class="footer-links">
              <li><a href="">Recommending password</a></li>
              <li><a href="">Recommending Username</a></li>
              <li><a href="">password Strength Calculator</a></li>
              <li><a href="">Hashing</a></li>
              <li><a href="">Encrypt/Decrypt</a></li>
              <li><a href="">Suggest Username</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="">About Us</a></li>
              <li><a href="">Contact Us</a></li>
              <li><a href="">Contribute</a></li>
              <li><a href="">Privacy Policy</a></li>
              <li><a href="">Sitemap</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
         <a href="#">Scanfcode</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><img src="https://img.icons8.com/fluent/48/000000/twitter.png"/></li>
              <li><img src="https://img.icons8.com/fluent/48/000000/facebook-new.png"/></li>
              <li><img src="https://img.icons8.com/color/48/000000/instagram-new.png"/></a></li>
              <li><img src="https://img.icons8.com/color/48/000000/youtube-play.png"/></a></li> 
              <li><img src="https://img.icons8.com/fluent/48/000000/linkedin.png"/></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>
   <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>