<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>Learn more</title>
    <link href="{{ url_for('static', filename='learn_more.css')}}" rel = "stylesheet" type = "text/css">
  </head>
  <body>
  <!--nav bar starts-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://127.0.0.1:5000">MyPassword.com</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Services
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Cracking password</a></li>
            <li><a class="dropdown-item" href="http://127.0.0.1:5000/strong_pwd">Password Strength</a></li>
            <li><a class="dropdown-item" href="http://127.0.0.1:5000/recommend_password">recommending password</a></li>
            <li><a class="dropdown-item" href="#">Hash your pwd</a></li>
             <li><a class="dropdown-item" href="#">Know our algorithms</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
  <!--nav bar ends-->

<div class="container">
  <div class="row">
    <div class="col-sm">
       <div class="container my-5">
        <h1 class="display-5">Learn more!</h1>
        <br>
        <br>
        <a>
            We provide a worldclass and optimized service solutions in the field of Password security concerns,Deployment of Machine learning models,
            encyption and decryption, Hashing algorithms. We are helping you to maintain your data privacy 24x7 .This site is very much satisfying 
            in case of cool username suggestion, <br><br>____we are the first who provides custom password as well as username.
            Our assistance and giudance makes things more easy and familier to use which makes it realy fun and intersting. 
        </a>
    </div>
    </div>
    <div class="col-sm">
      <div class="container">
        <img src="https://image.freepik.com/free-vector/security-concept-illustration_114360-1518.jpg"  alt="image not avialble.">
      </div>
    </div>
  </div>
  <div class="container">
  <div class="row">
    <div class="col-sm" id = "but7899">
    <a href="http://127.0.0.1:5000/Log_in">
      <button id="btn45" type="button" class="btn btn-primary" >Sign In</button>
    </a>
    </div>
    <div class="col-sm" id = "but7900">
    <a href="http://127.0.0.1:5000/Sign_up">
      <button type="button" class="btn btn-primary">Sign Up</button>
    </a>
    </div>
    <div class="col-sm">
      <!--vacant space can be  used for some purpose but are empty due to reason (all will take the space 
      so that all the two buttons should come together.)-->
    </div>
     <div class="col-sm">
      <!--vacant space can be  used for some purpose but are empty due to reason-->
    </div>
    <div class="col-sm">
      <!--vacant space can be  used for some purpose but are empty due to reason-->
    </div>
    <div class="col-sm">
      <!--vacant space can be  used for some purpose but are empty due to reason-->
    </div>
    <div class="col-sm">
      <!--vacant space can be  used for some purpose but are empty due to reason-->
    </div>
     <div class="col-sm">
      <!--vacant space can be  used for some purpose but are empty due to reason-->
    </div>
    <div class="col-sm">
      <!--vacant space can be  used for some purpose but are empty due to reason-->
    </div>
  </div>
</div>
</div>
<br>
<br>
<br>
 <!-- Site footer -->
 <div id = "footer98">
     <footer class="site-footer" >
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">Password.com provides it's best service all around the world.there are diffent concepts/METHODS on which this company works.the auther contributed on many fields of the site to develope it.
            Today all around the world lakhs of lakh scams are conducted of stoling the private data from the users which leads to a massive loss to users finacialy as well as emotionaly.
            So ,our company taken this intiative for preventing these scams.there are many factors by which scamers get advantage of stealing the data,and weak password
            is one of them.So ,trust on password.com and make a powerfull password and maintain it at diffrent interval. </p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="">C</a></li>
              <li><a href="">UI Design</a></li>
              <li><a href="">PHP</a></li>
              <li><a href="">Java</a></li>
              <li><a href="">Android</a></li>
              <li><a href="">Templates</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="">About Us</a></li>
              <li><a href="">Contact Us</a></li>
              <li><a href="">Contribute</a></li>
              <li><a href="">Privacy Policy</a></li>
              <li><a href="">Sitemap</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
         <a href="#">Scanfcode</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>
 </div>

   

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
  </body>
</html>